extends ../layout

block content
  form(action="/lead/"+lead.id+"/edit", method="POST")
    input(name="email_form",type="email",placeholder="Inserisci la tua email",value=lead.email)
    button(type="submit") Salva